.wrapper {
  position: relative;
}

.container {
  border: 2px solid $primaryColor;
  padding: $spacingBase $spacingLarge;
  text-align: center;
  width: auto;
  height: 100%;
  display: inline-block;
  cursor: pointer;
  transition: $defaultTransition all;
  position: relative;
  background-color: #fff;
  text-decoration: none;
  color: $textColor;
  font-family: $bodyFamily;
  font-size: 1rem;
  line-height: resolve(28 / $remBase)rem;
  letter-spacing: .8px;
  font-weight: 600;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    transition: $defaultTransition all;
    border: 2px solid $primaryColor;
    z-index: -1;
  }

  &:hover {
    background-color: $primaryColor;
    border-color: $#fff;
    color: #fff;

    &:before {
      transform: translate(-$spacingBase, $spacingBase);
    }
  }

  &:active {
    background-color: color($primaryColor tint(15));
  }
}

.block {
  display: block;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
  background: white;
}

.inline {
  display: flex;
  align-items: center;
  justify-content: center;
}

.reverse {
  color: #fff;
  background-color: $primaryColor;
}

.submitting {
  color: transparent;

  &:hover {
    color: transparent;

    &:before {
      transform: none;
    }
  }
}

@media(max-width: $sm) {
  .container {
    display: block;
  }
}
