.container {
  border: 2px solid $primaryColor;
  padding: $spacingBase $spacingLarge;
  text-align: center;
  width: auto;
  display: inline-block;
  cursor: pointer;
  transition: $defaultTransition all;

  p {
    font-weight: 600;
    margin: 0;
  }

  &:hover {
    background-color: $primaryColor;
    border-color: $#fff;

    p {
      color: #fff;
    }
  }

  &:active {
    background-color: color($primaryColor tint(15));
  }
}
