.container {
  border: 2px solid $primaryColor;
  padding: $spacingBase $spacingLarge;
  text-align: center;
  width: auto;
  display: inline-block;
  cursor: pointer;
  transition: $defaultTransition all;
  position: relative;
  background: white;
  text-decoration: none;
  color: $textColor;

  &:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: $defaultTransition all;
    border: 2px solid $primaryColor;
    z-index: -1;
  }

  p {
    font-weight: 600;
    margin: 0;
  }

  &:hover {
    background-color: $primaryColor;
    border-color: $#fff;
    color: #fff;

    &:before {
      transform: translate(-$spacingBase, $spacingBase);
    }

    p {
      color: #fff;
    }
  }

  &:active {
    background-color: color($primaryColor tint(15));
  }
}

.block {
  display: block;
  padding-left: 0;
  padding-right: 0;
}

@media(max-width: $sm) {
  .container {
    display: block;
  }
}
