.container {
  background-color: #fff;
  height: 50px;
  padding: 10px 0;
  box-shadow: 0px 1px 0px 0px #222;
}

.logo {
  height: 100%;
}

.linkList {
  list-style: none;
  float: right;
  margin: 0;
}

.linkItem {
  float: left;
  display: block;
  margin: 0 8px;
  line-height: 34px;
  position: relative;

  &:last-child {
    margin-right: 0;
  }
}

.link {
  text-decoration: none;
  color: $textColor;
  display: inline-block;
}
