.container {
  padding-top: $spacingLarge;
}

.header {
  height: 540px;
  width: 80%;
  margin: 0 auto;
}

.content {
  position: relative;
  top: -150px;
}

.title {
  text-transform: uppercase;
  text-shadow: 3px 4px 0 #fff;
}

.block {
  display: block;
  width: 100%;
  height: 29px;
}

@media (max-width: $sm) {
  .container {
    padding-top: 0;
  }

  .header {
    height: 150px;
  }

  .content {
    padding-top: $spacingLarge;
    top: auto;
  }
  .title {
    text-shadow: 1px 1px 0 #fff;
  }
}
