.container {
  height: 540px;
  width: 80%;
  margin: 0 auto;
}

.image {
  width: 80%;
  display: block;
  border: 2px solid #222;
  padding: 10px;
  position: relative;
}

.image img {
  width: 100%;
  height: auto;
}

@media (max-width: $sm) {
  .container {
    height: 150px;
    width: 100%;
  }
}
