.container {
  padding-top: $spacingLarge;
}

.header {
  height: 540px;
  margin: 0 auto $spacingLarge auto;
}

.content {
  position: relative;
}

.title {
  text-align: center;
  text-transform: uppercase;
}

.block {
  display: block;
  width: 100%;
  height: 29px;
}


@media (max-width: $sm) {
  .header {
    height: 150px;
  }

  .container {
    padding-top: 0;
  }

  .content {
    padding-top: $spacingLarge;
    top: auto;
  }

  .title {
    text-shadow: 1px 1px 0 #fff;
  }
}
