$imageAnimationTime: 650;
$borderAnimationTime: 1;
$backgroundAnimationTime: 500;

.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-bottom: $spacingGiant;
  height: 800px;

  &::before {
    animation: appear $(backgroundAnimationTime)ms ease-in-out forwards;
    background-color: #C5C5C5;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100% - 120px);
    z-index: -1;
  }
}

.animation {
  width: 80%;
  display: block;
  padding: 10px;
  position: relative;
  height: 100%;
  overflow: hidden;
  display: none;
  animation-name: slideUpFadeIn;
  animation-timing-function: ease;
  animation-duration: $(imageAnimationTime)ms;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
  opacity: 0;
  diplay: felx;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
    height: 100%;
  }

  canvas {
    position: absolute;
  }
}

.headline {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
}

@media(max-width: $sm) {
  .header {
    height: 400px;
  }
}


.top, .right, .bottom, .left {
  position: absolute;
  background: transparent;
  width: 0px;
  height: 0px;

  animation-duration: .3s;
  animation-iteration-count:1;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.display {
  display: inherit;
}

.top {
  left: 0;
  bottom: 0;
  width: 2px;
  animation-name: top;
  animation-delay: resolve(0 + $imageAnimationTime + 250)ms;
}

.right {
  top: 0;
  left: 0;
  height: 2px;
  animation-name: right;
  animation-delay: resolve(400 + $imageAnimationTime + 250)ms;
}

.bottom {
  right: 0;
  top: 0;
  width: 2px;
  animation-name: bottom;
  animation-delay: resolve(800 + $imageAnimationTime + 250)ms;
}

.left {
  bottom: 0;
  right: 0;
  height: 2px;
  animation-name: left;
  animation-delay: resolve(1200 + $imageAnimationTime + 250)ms;
}

@keyframes appear {
  from  { transform: scaleX(0); }
  top   { transform: scaleX(1); }
}

@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(100px)  ;
  }

  to {
    opacity: 1;
    transform: translateY(0)  ;
  }
}

@keyframes top {
  0%    { height: 0; background: #000; }
  100%  { height: 100%; background: #000; }
}

@keyframes right {
  0%    { width: 0; background: #000; }
  100%  { width: 100%; background: #000; }
}

@keyframes bottom {
  0%    { height: 0; background: #000; }
  100%  { height: 100%; background: #000; }
}

@keyframes left {
  0%    { width: 0; background: #000; }
  100%  { width: 100%; background: #000; }
}
