$imageAnimationTime: 650;
$borderAnimationTime: 1;
$backgroundAnimationTime: 500;
$borderThickness: 4px;

.header {
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
  margin-bottom: $spacingGiant;
  height: 800px;

  &::before {
    animation: appear $(backgroundAnimationTime)ms ease-in-out forwards;
    background-color: #C5C5C5;
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: calc(100% - 120px);
    z-index: -1;
  }
}

.image {
  width: 80%;
  display: block;
  padding: 10px;
  position: relative;
  height: 100%;
  overflow: hidden;
  visibility: hidden;
  animation-name: slideUpFadeIn;
  animation-timing-function: ease;
  animation-duration: $(imageAnimationTime)ms;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
  opacity: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.headline {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-width: 80%;
}

.display {
  visibility: inherit;
}

@media(max-width: $sm) {
  .header {
    height: 400px;
  }
}


.top, .right, .bottom, .left {
  position: absolute;
  background: $primaryColor;
}

.top, .bottom {
  height: $borderThickness;
  width: 0;
}

.left, .right {
  width: $borderThickness;
  height: 0;
}

.top {
  left: 0;
  top: 0;
}

.right {
  top: 0;
  right: 0;
}

.bottom {
  right: 0;
  bottom: 0;
}

.left {
  bottom: 0;
  left: 0;
}

@keyframes appear {
  from  { transform: scaleX(0); }
  top   { transform: scaleX(1); }
}

@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(100px)  ;
  }

  to {
    opacity: 1;
    transform: translateY(0)  ;
  }
}
